*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.textwhite{
    color: #fff !important;
}
body {
background-color: white;
height: 100%;
}
#header{
    height: 50px;
    background-color: black;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    
}


#nav{
    height: 50px;
    display: inline-block;
    align-items: center;
    margin-top: 12px;
    margin-left: 30%;
    font-size: 30px;
    line-height: 1;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
#sop{
 color: aqua;
 font-size: 50px;
 position: absolute;
 margin-left: 20px;
 bottom: 2%;
}
#sop:hover{
    cursor: pointer;
}
#content_intro{
 
}
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
 #content_slide_dad{
  
 }
 #content_slide{
 background-color: pink;
 position: relative;
 text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#content_hoby{
  position: relative;
  text-align: center;
  line-height: 45px;
  background-image: url('./imge/photo_2021-09-24_19-04-25.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}
#hoby_p{
  position: relative;
  font-size: 30px;
  color:white;
  height: inherit;
  background-color: rgba(174, 142, 165, 0.8);
  opacity: 1;
  left:50%;
  width: 50%;
  display: grid;
  align-content: center;
}
